.footer__block {
    display: flex;
    margin: auto;
    width: 70%;
    padding: 150px 0 150px;
    justify-content: space-between;
}

@media screen and (max-width: 820px) {
    .footer__block {
       flex-direction: column-reverse;
       padding: 70px 0 70px;
    }
 }